﻿=
<div class="col-md-10" id="autosC">
    <input type="text" placeholder="Make" style="width:150px" />
    <input type="text" placeholder="Model" style="widows:150px" />
    <input type="text" placeholder="Year" style="width:150px" />
    <input type="text" placeholder="Kilometers" style="width:150px" />
    <input type="text" placeholder="Body Type" style="width:150px" />
</div>
