﻿@model List<ListHell.CODE.Area>
@{
    ViewBag.Title = "select area";
}

<div style="margin:5%">
    <ul>
        @foreach (var x in Model)
        {
            <li class="cscountry-@x.Areas"><a href="../@x.Areas/cities"> @x.Areas</a></li>
        }
    </ul>
</div>

<style>


    @{
        for (int x = 0; x < Model.Count(); x++)
        {

       @: .cscountry-@Model.ElementAt(x).Areas::before

            @:{
                @:content: url('../Icons/@Model.ElementAt(x).Areas@(".png")' )
             @:}
   }
    }





</style>



