﻿@model List<ListHell.CODE.Categories>
@{
    ViewBag.Title = "categories";
}
@{string[] sv = new string[10];
    string[] icon = new string[10]; int x = 0;}
<div style="display:flex">
    @{

        string ls = "";

        <ul style="width:100%;padding:25px;margin:25px">
            @foreach (var v in Model)
            {
                if (v.master_category != ls)
                {
                    sv[x] = v.master_category_icon;
                    icon[x] = v.master_category;
                    <li style="padding:10px" class="master-cat-@icon[x]">
                        <a href="#" style="font-size:20px;" onclick="javascript: $('.expand-ul').slideUp(200).attr('style', 'display:none'); $(this).siblings().slideDown(200).attr('style', 'margin-left:-20px;display:block;border-width:1px;border-style:solid;padding:10px;background-color:aliceblue');"> @v.master_category_descr</a>
                        <div class="expand-ul" style="margin-left:-20px;display:none;border-width:1px;border-style:solid;padding:10px">
                            <ul>
                                @foreach (var a in Model.Where(w => w.master_category == v.master_category))
                                {
                                    <li><a href="putCat(@v.lid,@v.master_category)" style="font-size:20px;">@a.category1</a></li>
                                }
                            </ul>
                        </div>
                    </li>
                    x++;
                }
                ls = v.master_category;

            }
        </ul>
    }

</div>
<style>
     @for(int y = 0; y < x; y++) {
    @:.master-cat-@icon[y]::before { content:url(@sv[y])}
         }
ul{
      list-style-type: none;
    }   
  
</style>
<script>
    function getParameterByName(name, url) {
        if (!url) {
            url = window.location.href;
        }
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }
    function putCat(lid,cat) {
        var isPost = getParameterByName("isPost");
        if (isPost == null) {
            window.location = "ads?lid="+lid+"&catid="+cat;
        }
        else if (isPost == "true") {
            window.location = "post?cat=" + cat + "lid" + lid;
        }
    }
</script>