﻿@model IEnumerable<ListHell.CODE.Locations>

@{
    ViewBag.Title = "cities";
}
<div ng-app="LH" ng-controller="LHController">
    <h2>cities</h2>


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.city)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.state_province)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.area)
            </th>
            <th>
                No. of Ads
            </th>



        </tr>

        @foreach (var item in Model)
        {

            <tr>
                <td>
                    <a href="#" data-val="@item.id" ng-click="selectLocation(@item.id)"  >
                        @Html.DisplayFor(modelItem => item.city)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.state_province)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.area)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>


            </tr>
        }

    </table>
</div>
@Scripts.Render("~/bundles/angular")
<script>
    var l;
    var v;
    var app = angular.module('LH', []);
    app.controller("LHController", function ($scope, $window) {
        
        v = $scope;
        $scope.selectLocation = function (id) {
          
            $window.open("../lh/categories?lid="+id, "_self");
           // $window.location("/xyz")
            
         

        }

    });
</script>
